workflows/ozon-finance-transaction-realization.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-05T18:17:43.711Z",
  "id": "53",
  "name": "ozon-finance-transaction-realization",
  "nodes": [
    {
      "parameters": {},
      "id": "f6c26d12-cf87-43ab-bb96-9887c199f1d5",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v3/finance/transaction/totals",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"date\": {\n      \"from\": \"{{ $json.from }}\",\n      \"to\": \"{{ $json.to }}\"\n    },\n    \"transaction_type\": \"all\"\n  },\n  \"page\": 1,\n  \"page_size\": 10000\n} ",
        "options": {}
      },
      "id": "71c8709c-9afe-4cec-bc28-c56adf7bd542",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1280,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.operations",
        "options": {}
      },
      "id": "ed8585a0-8e96-4929-8d55-1ec0a2109324",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {
          "fileName": "transactions.xls"
        }
      },
      "id": "e474dd1f-2ddb-469e-a8b8-8831d7d22f0a",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1580,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "fileName": "transactions.xlsx",
        "options": {}
      },
      "id": "4389f0b3-6373-46f0-871f-1d72359434e2",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1740,
        460
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v1/finance/realization",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"date\": \"2022-09\"\n}",
        "options": {}
      },
      "id": "5b756d6d-d404-482f-b9a8-371eb1b9887d",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1300,
        740
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n\t{\n\t\tjson: {\n\t\t\tdt: '2022-03',\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tdt: '2022-04',\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tdt: '2022-05',\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tdt: '2022-06'\n\t\t}\n\t}\n];"
      },
      "id": "05de628f-5757-4d53-870f-be63e3cfb2e0",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1020,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-04-05T18:26:03.000Z",
  "versionId": "e43d4063-cb9c-4583-883a-52a88948b045"
}