workflows/ozon-отмены.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список актов по отгрузкам": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Список актов по отгрузкам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список отправлений в акте": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Write Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Список отправлений в акте",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-06T14:49:17.441Z",
  "id": "63",
  "name": "ozon-отмены",
  "nodes": [
    {
      "parameters": {},
      "id": "a7c8bf03-94e9-41a5-a537-56e5ba79a7b6",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        460
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {
          "fileName": "отгрузки.xls"
        }
      },
      "id": "4753c1d3-1c38-41c9-9bd9-6d9e7ba6afd1",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1860,
        460
      ]
    },
    {
      "parameters": {
        "fileName": "откгузки.xls",
        "options": {}
      },
      "id": "43fdce2e-816b-4c76-9a5b-7cdb8c52638e",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2060,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v2/posting/fbs/act/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"date_from\": \"{{ $json.fd }}\",\n    \"date_to\": \"{{ $json.td }}\",\n    \"integration_type\": \"ozon\"\n  },\n  \"limit\": 50\n}",
        "options": {}
      },
      "id": "0e80ec9a-3ead-452f-b8c8-069cc90ee85a",
      "name": "Список актов по отгрузкам",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "id": "f3cf7369-f79e-4172-be54-1efe1508f558",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1260,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-03-01',\n\t\t\ttd: '2022-06-01'\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-06-01',\n\t\t\ttd: '2022-09-01'\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-09-01',\n\t\t\ttd: '2022-12-01'\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-12-01',\n\t\t\ttd: '2023-04-06'\n\t\t}\n    }\n];"
      },
      "id": "9b1e8166-0134-42ef-a7a5-8cb18ac0038a",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        960,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v2/posting/fbs/act/get-postings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"id\": {{ $json.id }}\n} ",
        "options": {}
      },
      "id": "c58fcdee-c03b-4719-a57a-79475c698228",
      "name": "Список отправлений в акте",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1640,
        620
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "69dd82d7-c7ff-4073-b454-77df0ca87f0c",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {
          "fileName": "отправления.xls"
        }
      },
      "id": "790af015-9a10-4a97-88fa-2042a1b007dd",
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1940,
        840
      ]
    },
    {
      "parameters": {
        "fileName": "отправления.xls",
        "options": {}
      },
      "id": "d9c08735-bffc-428c-b378-a952fba08f9c",
      "name": "Write Binary File1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2120,
        840
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2ed61da4-d7d4-4142-b2a5-8ccb69c308a3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1460,
        700
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "0efc5177-6e74-43e0-8208-3771f8f6df97",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1780,
        620
      ],
      "webhookId": "e41ade5f-d3df-4d99-9a66-d7e0fe9260f6"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v1/conditional-cancellation/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filters\": {\n    \"state\": \"ALL\"\n  },\n  \"limit\": 2,\n  \"offset\": 0,\n  \"with\": {\n    \"counters\": true\n  }\n}",
        "options": {}
      },
      "id": "da951da3-4962-4ed2-ab07-c7deb6e192da",
      "name": "список заявок на отмену rFBS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1080,
        720
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-04-03T12:50:37.559Z",
      "updatedAt": "2023-04-03T12:50:37.559Z",
      "id": "19",
      "name": "js"
    },
    {
      "createdAt": "2023-04-06T13:55:38.366Z",
      "updatedAt": "2023-04-06T13:55:38.366Z",
      "id": "23",
      "name": "ozon"
    },
    {
      "createdAt": "2023-04-06T13:56:09.651Z",
      "updatedAt": "2023-04-06T13:56:09.651Z",
      "id": "25",
      "name": "file"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-04-06T16:12:36.000Z",
  "versionId": "c60c916f-829b-4516-8feb-869a93b9790e"
}