workflows/ozon-finance-transaction-list.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Read Binary Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary Files": {
      "main": [
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-05T12:51:18.194Z",
  "id": "45",
  "name": "ozon-finance-transaction-list",
  "nodes": [
    {
      "parameters": {},
      "id": "fee835e6-8321-44c5-b6c1-1bea22b82901",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v3/finance/transaction/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"date\": {\n      \"from\": \"{{ $json.from }}\",\n      \"to\": \"{{ $json.to }}\"\n    },\n    \"transaction_type\": \"all\"\n  },\n  \"page\": 1,\n  \"page_size\": 100\n}",
        "options": {}
      },
      "id": "421d9ddc-8876-4a1c-aa8b-c0fea6723338",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1280,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result.operations",
        "options": {}
      },
      "id": "23396b50-07aa-4a0c-a929-ae8ad0b109c1",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {
          "fileName": "transactions.xls"
        }
      },
      "id": "baa122b7-bcd2-4e08-b95a-c5e98a212d33",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1580,
        460
      ]
    },
    {
      "parameters": {
        "fileName": "transactions.xlsx",
        "options": {}
      },
      "id": "aaca1af0-dac2-4225-b342-6957ffe96d38",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        1740,
        460
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9ec6e775-a44d-4e61-954a-bfd0e5605b26",
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1120,
        460
      ]
    },
    {
      "parameters": {
        "fileSelector": "123/*.xlsx"
      },
      "id": "a9880dc4-bdeb-43d1-bb74-0ff0344098d2",
      "name": "Read Binary Files",
      "type": "n8n-nodes-base.readBinaryFiles",
      "typeVersion": 1,
      "position": [
        960,
        460
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2023-04-05T17:36:38.000Z",
  "versionId": "b33e2a3d-ab90-4077-b004-00bccfbbd573"
}