workflows/ozon-cash-flow.json
{
  "active": false,
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Write Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список актов по отгрузкам": {
      "main": [
        [
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Список актов по отгрузкам",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists1": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Список отправлений в акте": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File1": {
      "main": [
        [
          {
            "node": "Write Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Список отправлений в акте",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Spreadsheet File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-04-06T14:21:48.941Z",
  "id": "61",
  "name": "ozon-cash-flow",
  "nodes": [
    {
      "parameters": {},
      "id": "c6110d62-f7e5-4b91-a902-562ead61b0c2",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        800,
        460
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {
          "fileName": "отгрузки.xls"
        }
      },
      "id": "a0f24497-9e68-4b16-a690-f7ed850d97b5",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1860,
        460
      ]
    },
    {
      "parameters": {
        "fileName": "откгузки.xls",
        "options": {}
      },
      "id": "eb045f89-efc5-4817-9d56-7c9fbcf92626",
      "name": "Write Binary File",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2060,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v2/posting/fbs/act/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"date_from\": \"{{ $json.fd }}\",\n    \"date_to\": \"{{ $json.td }}\",\n    \"integration_type\": \"ozon\"\n  },\n  \"limit\": 50\n}",
        "options": {}
      },
      "id": "d1337f0a-6b19-4f2a-b126-950fee916c74",
      "name": "Список актов по отгрузкам",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1100,
        460
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "result",
        "options": {}
      },
      "id": "296c55b7-74f6-4137-9621-e09b1c490202",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1260,
        460
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-03-01',\n\t\t\ttd: '2022-06-01'\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-06-01',\n\t\t\ttd: '2022-09-01'\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-09-01',\n\t\t\ttd: '2022-12-01'\n\t\t}\n\t},\n\t{\n\t\tjson: {\n\t\t\tfd: '2022-12-01',\n\t\t\ttd: '2023-04-06'\n\t\t}\n    }\n];"
      },
      "id": "d83219f4-5936-4729-8e1c-3e7a2d738dfe",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        960,
        460
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v2/posting/fbs/act/get-postings",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"id\": {{ $json.id }}\n} ",
        "options": {}
      },
      "id": "513b03e6-370f-4286-a940-e47caadcd3fa",
      "name": "Список отправлений в акте",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1640,
        620
      ]
    },
    {
      "parameters": {
        "operation": "removeDuplicates",
        "compare": "selectedFields",
        "fieldsToCompare": {
          "fields": [
            {
              "fieldName": "id"
            }
          ]
        },
        "options": {}
      },
      "id": "210436cc-561b-4de5-bd85-812d3bab7079",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        1440,
        460
      ]
    },
    {
      "parameters": {
        "operation": "toFile",
        "options": {
          "fileName": "отправления.xls"
        }
      },
      "id": "7f3b5f2a-05c1-4da0-83e1-e3e46c949aaf",
      "name": "Spreadsheet File1",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        1940,
        840
      ]
    },
    {
      "parameters": {
        "fileName": "отправления.xls",
        "options": {}
      },
      "id": "606c731f-c0e0-4bae-a168-52280ec0035d",
      "name": "Write Binary File1",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2120,
        840
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5668d780-7c8d-4e84-a8b3-236512500606",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        1460,
        700
      ]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "c93a66a4-4963-4abe-9cde-6017a4f1c5a6",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1780,
        620
      ],
      "webhookId": "cd5fd28d-a639-43f2-a0b1-12db0b3e1c85"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v1/finance/cash-flow-statement/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"date\": {\n    \"from\": \"2022-01-01T00:00:00.000Z\",\n    \"to\": \"2022-12-31T00:00:00.000Z\"\n  },\n  \"page\": 1,\n  \"page_size\": 1\n}",
        "options": {}
      },
      "id": "1968e440-5f93-4b01-b3b3-9a448bc599d8",
      "name": "Список отправлений (версия 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1120,
        680
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-seller.ozon.ru/v3/posting/fbs/unfulfilled/list",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Client-Id",
              "value": "390716"
            },
            {
              "name": "Api-Key",
              "value": "cff2cd17-f874-4b01-a803-e8df5d9a9be5"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"cutoff_from\": \"2022-12-01T00:00:00Z\",\n    \"cutoff_to\": \"2022-05-01T00:00:00Z\"\n  },\n  \"limit\": 100,\n  \"offset\": 0,\n  \"with\": {\n    \"analytics_data\": true,\n    \"barcodes\": true,\n    \"financial_data\": true,\n    \"translit\": true\n  }\n}",
        "options": {}
      },
      "id": "0b5edf26-a463-4697-8047-c1e5c8683f8c",
      "name": "Список не обработанных отправлений",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1080,
        940
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Не обработанных нет",
        "height": 236,
        "width": 359
      },
      "id": "9065361c-e4c6-4c89-a6c1-2d66413757bf",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1020,
        900
      ]
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-04-03T12:50:37.559Z",
      "updatedAt": "2023-04-03T12:50:37.559Z",
      "id": "19",
      "name": "js"
    },
    {
      "createdAt": "2023-04-06T13:55:38.366Z",
      "updatedAt": "2023-04-06T13:55:38.366Z",
      "id": "23",
      "name": "ozon"
    },
    {
      "createdAt": "2023-04-06T13:56:09.651Z",
      "updatedAt": "2023-04-06T13:56:09.651Z",
      "id": "25",
      "name": "file"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-04-06T14:28:41.000Z",
  "versionId": "81330d14-f72c-42a6-a2bd-25f39f0189b1"
}