workflows/Лаборатория1.json
{
  "active": false,
  "connections": {
    "GET task.item.getdata1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Item Lists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Item Lists": {
      "main": [
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Item Lists1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "RSS Read1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "main": [
        [
          {
            "node": "Item Lists2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-03-10T12:36:34.998Z",
  "id": "7",
  "name": "Лаборатория1",
  "nodes": [
    {
      "parameters": {
        "chatId": "399224802",
        "text": "={{ $json[\"result\"][\"ID\"] }} {{ $json[\"result\"][\"TITLE\"] }}",
        "additionalFields": {}
      },
      "id": "731ababd-2084-4f00-bf6e-975bd27323a5",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        320,
        260
      ],
      "credentials": {
        "telegramApi": {
          "id": "9",
          "name": "ppkmh_bot"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "761a0a5c-999f-406a-8346-f1f9bc28ac05",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        60,
        660
      ],
      "webhookId": "324d6053-0984-4068-ae16-0040caa14d23",
      "credentials": {
        "telegramApi": {
          "id": "9",
          "name": "ppkmh_bot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://test-desk.ppkmh.ru/rest/3/k0jvyoyykyzpghxh/task.item.getdata.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "TASKID",
              "value": "1367"
            }
          ]
        },
        "options": {}
      },
      "id": "1b49eebd-84d0-4680-83ca-4403b758383b",
      "name": "GET task.item.getdata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -580,
        600
      ]
    },
    {
      "parameters": {
        "url": "https://test-desk.ppkmh.ru/rest/3/k0jvyoyykyzpghxh/tasks.task.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "1434"
            },
            {
              "name": "SELECT",
              "value": "['ID','TITLE']"
            }
          ]
        },
        "options": {}
      },
      "id": "0274dbd2-62ae-41b2-a0fb-f5a2646f71ee",
      "name": "GET tasks.task.get",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -360,
        600
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://test-desk.ppkmh.ru/rest/3/k0jvyoyykyzpghxh/tasks.task.get",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[ \t{ \t\t\"TASK\": {\"ID\": \"1434\"}, \t\t\"SELECT\": \"['ID', 'TITLE']\" \t} ]",
        "options": {}
      },
      "id": "36e5dbd5-4d59-4dd5-8057-e13ce185f03c",
      "name": "GET tasks.task.get1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -360,
        820
      ]
    },
    {
      "parameters": {
        "url": "https://test-desk.ppkmh.ru/rest/3/k0jvyoyykyzpghxh/task.item.getdata.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "TASKID",
              "value": "1367"
            }
          ]
        },
        "options": {}
      },
      "id": "b6176532-b392-4d49-be42-554983cdf938",
      "name": "GET task.item.getdata1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        20,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://test-desk.ppkmh.ru/rest/3/k0jvyoyykyzpghxh/task.item.getdata.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "TASKID",
              "value": "1367"
            }
          ]
        },
        "options": {}
      },
      "id": "1f7db30f-fcd7-49d0-bc3b-d39256c3788d",
      "name": "GET task.item.getdata2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        60,
        460
      ]
    },
    {
      "parameters": {
        "url": "https://test-desk.ppkmh.ru/rest/3/k0jvyoyykyzpghxh/task.item.getdata.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "TASKID",
              "value": "1367"
            }
          ]
        },
        "options": {}
      },
      "id": "b249e9b6-775f-406a-a247-f0360edca39c",
      "name": "GET task.item.getdata3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -800,
        620
      ]
    },
    {
      "parameters": {
        "url": "http://n8n.ppkmh.local:5678/rest/workflows",
        "options": {}
      },
      "id": "0f5ccf89-0686-4f54-82bf-d72566752356",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        320,
        20
      ]
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "6b338255-d350-4f16-928a-ecc01a04443c",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        900
      ],
      "webhookId": "5ad6aca6-822d-4029-8c6a-4f6434514eb9",
      "credentials": {
        "telegramApi": {
          "id": "9",
          "name": "ppkmh_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-842713612",
        "text": "Выберите сообщение...",
        "replyMarkup": "replyKeyboard",
        "replyKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Доброе утро! Офис.",
                    "additionalFields": {}
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "Доброе утро! Удаленно.",
                    "additionalFields": {}
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "additionalFields": {}
      },
      "id": "bdef86f6-e970-40d6-ae7a-e99d2ca1e62d",
      "name": "Telegram1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -560,
        -40
      ],
      "credentials": {
        "telegramApi": {
          "id": "9",
          "name": "ppkmh_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001902731562",
        "text": "={{ $json.guid }} {{ $json.content }} {{ $json.enclosure.url }}",
        "additionalFields": {}
      },
      "id": "2a70c9d2-e79b-4631-8bb6-f7fbb2452acd",
      "name": "Telegram2",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -120,
        -660
      ],
      "credentials": {
        "telegramApi": {
          "id": "9",
          "name": "ppkmh_bot"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "310955475",
        "text": "Анна, ППК-шный Бот желает Вам скорейшего выздоровления!",
        "additionalFields": {}
      },
      "id": "5799c13e-ab11-4f4d-aceb-ce09e31c4958",
      "name": "Telegram3",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -700,
        220
      ],
      "credentials": {
        "telegramApi": {
          "id": "17",
          "name": "ppk_kom_bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-842713612",
        "text": "Выберите сообщение...",
        "additionalFields": {}
      },
      "id": "b43d55de-757d-4e56-903f-362b8345b6a5",
      "name": "Telegram4",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -680,
        420
      ],
      "credentials": {
        "telegramApi": {
          "id": "9",
          "name": "ppkmh_bot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://lenta.ru/rss"
      },
      "id": "1b391c5c-890f-4fca-9397-8a9e2beb4dc9",
      "name": "RSS Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -760,
        -600
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 5
      },
      "id": "806261be-fedb-49fe-a3b5-dd503569ed31",
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        -540,
        -600
      ]
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "-1001902731562",
        "file": "={{ $json.enclosure.url }}",
        "additionalFields": {
          "caption": "={{ $json.content }} {{ $json.link }}"
        }
      },
      "id": "c3aa1796-11e8-4679-a50f-11a1f066ce85",
      "name": "Telegram5",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -180,
        -260
      ],
      "credentials": {
        "telegramApi": {
          "id": "9",
          "name": "ppkmh_bot"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "notreplay@ppkmh.ru",
        "toEmail": "aavdeev@ppkmh.ru",
        "subject": "News",
        "text": "={{ $json.title }}\n{{ $json[\"content\"] }}\n{{ $json[\"link\"] }}\n",
        "options": {}
      },
      "id": "ff94c9ce-174a-46db-827e-7265fa4b3c9e",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        140,
        -540
      ],
      "credentials": {
        "smtp": {
          "id": "15",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "operation": "aggregateItems",
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "id": "706e3ef6-4f66-4743-b0a5-08d58ea808d9",
      "name": "Item Lists1",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        -160,
        -420
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://desk.ppkmh.ru/rest/3/47d71ws5pthd74ls/user.search/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"FILTER\": {\"EMAIL\": \"afilatov@ppkmh.ru\"}}",
        "options": {}
      },
      "id": "6e553d8e-e6ad-4eef-b161-ba6ad21968bf",
      "name": "Запрос пользователя",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1120,
        -100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://desk.ppkmh.ru/rest/3/47d71ws5pthd74ls/user.search/",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"FILTER\": {\"EMAIL\": \"afilatov@ppkmh.ru\"}}",
        "options": {}
      },
      "id": "0b311f22-5c14-4fc2-81ef-d22640707e74",
      "name": "Запрос пользователя1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1120,
        80
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select link from rss_list"
      },
      "id": "20eb6dda-0dcb-4d94-9efa-b72c5a97c710",
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        -1580,
        -420
      ],
      "credentials": {
        "mySql": {
          "id": "11",
          "name": "ppk"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.link }}"
      },
      "id": "12126a98-f34b-4c1c-bb56-555af5729313",
      "name": "RSS Read1",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -1380,
        -420
      ]
    },
    {
      "parameters": {
        "operation": "limit",
        "maxItems": 5
      },
      "id": "62fb5ef8-6c99-4165-8040-b7df6e429f21",
      "name": "Item Lists2",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 2,
      "position": [
        -1180,
        -420
      ]
    },
    {
      "parameters": {
        "fromEmail": "notreplay@ppkmh.ru",
        "toEmail": "aavdeev@ppkmh.ru",
        "subject": "News",
        "text": "={{ $json.title }}\n{{ $json[\"content\"] }}\n{{ $json[\"link\"] }}\n",
        "options": {}
      },
      "id": "8298334f-5945-409e-a272-2920a1bbb168",
      "name": "Send Email1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -880,
        -420
      ],
      "credentials": {
        "smtp": {
          "id": "15",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "timezone": "Europe/Moscow",
    "saveExecutionProgress": "DEFAULT",
    "saveManualExecutions": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-03-10T17:32:23.736Z",
      "updatedAt": "2023-03-10T17:32:23.736Z",
      "id": "1",
      "name": "Bitrix"
    },
    {
      "createdAt": "2023-03-10T17:32:39.205Z",
      "updatedAt": "2023-03-10T17:32:39.205Z",
      "id": "3",
      "name": "Telegramm"
    },
    {
      "createdAt": "2023-03-21T12:50:32.972Z",
      "updatedAt": "2023-03-21T12:50:32.972Z",
      "id": "7",
      "name": "RSS"
    },
    {
      "createdAt": "2023-03-21T12:50:49.050Z",
      "updatedAt": "2023-03-21T12:50:49.050Z",
      "id": "9",
      "name": "SendMail"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2023-03-28T11:16:03.000Z",
  "versionId": "db52919d-536e-4d53-8e14-7db8038c2299"
}